//ALL MOVIES
h1 {
  text-align: center;
}
.books-page-container {
  margin: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // background-image: url("/assets/Bilder/MovieBackground.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;

  a {
    outline: none;
    text-decoration: none;
    color: gold;
    &:active {
      color: white;
    }
    &:visited {
      color: darkblue;
    }
  }
  .books-page-small-container {
    padding: 5px 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .books-page-single-container {
      margin: 50px 15px;
      padding: 15px 0px;
      border-radius: 5px;
      border: solid 2px rgb(179, 172, 172);
      width: 250px;
      display: flex;
      flex-direction: column;

      &:hover {
        border: solid 2px black;
      }
      h2 {
        text-align: center;
        height: 70px;
      }

      img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        opacity: 0.5;
        &:hover {
          border-radius: 0;
          object-fit: contain;
          width: 250px;
          height: 250px;
          transition: 1s;
          opacity: 1;
        }
      }
    }
  }
}

//SINGLE BOOK

.single-book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0;
  .book-content {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div:nth-child(1) {
      background-color: gray;
      width: 400px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      opacity: 0.5;
      &:hover {
        transition: 3s;
        opacity: 1;
        width: 500px;
        justify-content: space-around;
      }
      img {
        width: 200px;
        &:hover {
          transition: 2s;
          transform: rotate(350deg);
        }
      }

      div {
        display: flex;
        flex-direction: column;
        p {
          padding: 5px;
          a {
            text-decoration: none;
            color: darkblue;
            &:hover {
              color: gold;
            }
          }
        }
      }
    }
    div:nth-of-type(2) {
      padding: 15px;
      p:first-child {
        font-size: 1.4rem;
      }
      p:nth-child(2) {
        background-color: gray;
        line-height: 1.4rem;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .single-book-container {
    display: flex;
    .book-content {
      div:nth-child(1) {
        background-color: gray;
        width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        opacity: 0.5;
        &:hover {
          transition: 1s;
          opacity: 1;
          justify-content: space-around;
        }
        div {
          padding: 40px;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-end;
        }
      }
      img {
        width: 350px;
      }
    }
  }
}
