.books-container {
  border: blue solid;
  display: flex;
  flex-flow: row wrap;
  .single-book-container {
    border: solid rgb(255, 0, 0);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    &:hover img {
      transform: scale(3);
      transition: 1s;
    }
    .book-content {
      background-color: lightcoral;
      display: flex;
      flex-flow: column nowrap;
    }
    h3 {
      height: 70px;
      border: solid;
    }
    img {
      width: 150px;
      object-fit: contain;
      align-self: center;
    }
  }
}

h1 {
  text-align: center;
}
.filter-container {
  border: solid black 5px;
}

.cards-container {
  border: solid black 5px;

  .students-container {
    // border: solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  .single-student-container {
    border: solid rgb(255, 0, 0);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    &:hover img {
      transform: scale(3);
      transition: 1s;
    }
    img {
      width: 150px;
      aspect-ratio: 1/1.4;
    }
  }
}

.movies-container {
  border: blue solid;
  display: flex;
  flex-flow: row wrap;
  .single-movie-container {
    border: solid rgb(255, 0, 0);
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    &:hover img {
      transform: scale(3);
      transition: 1s;
    }
    .movie-content {
      background-color: lightcoral;
      display: flex;
      flex-flow: column nowrap;
    }
    h3 {
      height: 70px;
      border: solid;
    }
    img {
      width: 150px;
      object-fit: contain;
      align-self: center;
    }
  }
}
