//All Characters (Characters.jsx)
.allcharacters-container {
  background-image: url(../../assets/charachtere.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    background-color: rgb(0, 0, 66);
    padding: 15px;
    border-radius: 50px;
    margin: 0px 15px;
  }

  .button-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    button {
      height: 50px;
      margin: 20px;
      background: black;
      color: white;
      border: none;
      &:active {
        color: darkblue;
        background-color: gold;
      }
      &:hover {
        color: gold;
        background-color: darkblue;
      }
    }
  }
}
//Karte Container bei All-Characters
.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: gold;
    &:visited {
      color: rgb(0, 0, 74);
    }
    &:active {
      color: gold;
    }
    &:hover {
      color: black;
    }
  }
  //Single Karte bei All-Characters
  .single-character-card-container {
    border: rgb(255, 255, 255) solid 1px;
    height: 175px;
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    background-color: rgba(182, 182, 182, 0.374);
    border-radius: 15px;
    &:hover{
      background-color: rgba(111, 136, 212, 0.788);
    }
    figure {
      width: 175px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        margin-bottom: 20px;
      }
    }

    .names {
      margin-left: 5px;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    img {
      max-width: 75px;
      height: 75px;
      margin-right: 5px;
      border-radius: 50%;
    }
  }
}

//SingleCharacterPage.jsx
.single-character-container {
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  .single-character-content {
    border: solid;
  }
}
