.footer-container {
  background-color: rgb(0, 0, 78);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
  z-index: 2;
  a {
    text-decoration: none;
    color: white;
  }
  a:active {
    color: white;
    color: rgb(0, 0, 78);
  }
  .icon {
    // color: gold;
    font-size: 1rem;
  }
}
.footer-github,
.footer-links {
  width: 100%;
  line-height: 2rem;
  display: flex;
}

.footer-github {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    color: gold;
  }
}
.footer-links {
  flex-direction: row;
  justify-content: space-evenly;
  a:hover {
    color: gold;
  }
}
