.quiz-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("../../assets/Bilder/dark-blue-starry-sky-universal-41z055lrwfvnhyzw.jpg") ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quiz-container {
    width: 640px;
    margin: auto;
    margin-top: 215px;
    /* background-image: url("../../assets/Bilder/dark-blue-starry-sky-universal-41z055lrwfvnhyzw.jpg") ; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;

  }
  
  .question-header {
    color: goldenrod;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .question-box {
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .question-text {
    color: goldenrod;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .answer-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    background-color: rgb(138, 96, 43);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ffcc80;
  }
  
  .back-button {
    background-color: #f44336;
    color: white;
    margin-top: 20px;
  }
  