.quiz-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../assets/hogwartsquiz\ hintergrund.jpg");
  background-size: 2000px 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container2 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 26%;
  gap: 1rem;
  align-items: center;
}

.question-header {
  background-color: #063E53;
  color: silver;
  width: 50%;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.question-box {
  width: 50%;

  .question-text {
    color: goldenrod;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .answer-options {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .answers-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .answer {
        flex: 1;
      }
    }
  }
}

button {
  background-color: rgba(253,235,188,255);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffcc80;
}

.back-button-container {
  position: absolute;
  bottom: 120px;
  left: 60px;
}
.back-button {
  background-color: #79150e;
  color: white;
  width: 90px;       
  height: 90px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;  
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #d32f2f; 
}



.assigned {
  width: 100%;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.Gryffindor {
  background-color: #6C1A31;
  color: #D37E01;
}

.Hufflepuff{
background-color: #BA7625;
color: #5E3225;
}

.Ravenclaw{
background-color: #063E53;
color: silver;
}

.Slytherin{
background-color: darkgreen;
color: black;
}