.LondonStudioH1 {
  padding-top: 4vh;
  font-size: 5vw;
  color: black;
}

.swiper {
  width: 60vw;
  height: 60vh;
  margin: 10vh auto;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: gold;

    svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: gold;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: gold !important;
  }

  .swiper-pagination-bullet-active {
    background: gold !important;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    border: 10px solid gold;
  }
}

@media (max-width: 1024px) {
  .swiper {
    height: 25vh;
    margin: 2vh auto;
    .autoplay-progress {
      width: 20px;
      height: 20px;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      border: 4px solid gold;
    }
  .swiper-button-prev:after, .swiper-button-next:after{
    font-size: x-large;
  }
}
  
}
