//ALL MOVIES
.movies-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../assets/Bilder/MovieBackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    background-color: rgb(0, 0, 74);
    margin: 0px 625px;
    padding: 15px;
    border-radius: 50px;
    margin: 0px 400px;
  }
  .movies-page-small-container {
    padding: 5px 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    a {
      text-decoration: none;

      &:visited {
        color: rgb(0, 0, 74);
      }
      &:active {
        color: black;
      }
      &:hover {
        color: gold;
      }
    }

    .movies-page-single-container {
      background-color: rgba(255, 255, 255, 0.474);
      margin: 50px 15px;
      border-radius: 5px;
      border: solid 1px rgb(126, 126, 126);
      width: 250px;

      &:hover {
        border: solid black 2px;
      }

      h2 {
        text-align: center;
        height: 70px;
        padding: 10px 15px;
        margin-bottom: 15px;
      }

      div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 200px;
          margin: 0 auto;
          object-fit: contain;
          align-self: center;
          &:hover {
            transform: scale(1.1);
            transition: 1s;
          }
        }
      }
    }
  }
}

//SINGLE MOVIE
.single-movie-container {
  background: gray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  button {
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 10px 15px;
    align-self: start;
    background: gold;
    color: rgb(0, 0, 74);
    border: none;
    &:hover {
      color: gold;
      background-color: rgb(0, 0, 74);
    }
  }
h1{
  padding-left: 100px;
}
  .movie-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 70%;
  }
  img {
    width: 50px;
  }
}