.filter-container {
  margin: 25px;
  background-color: rgba(181, 181, 181, 0.391);
  padding: 10px;
}

.textfilter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  [type="search"] {
    height: 30px;
    width: 50%;
    outline: none;
    border-radius: 15px;
    padding-left: 10px;
  }
  .toggle-label {
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &.active {
      background-color: gold;
      color: black;
    }

    &:hover {
      background-color: #00005c; 
      color: #fff;
    }
  }
}

.checkfilter-container {
  display: flex;
  justify-content: space-evenly;
  .single-checkfilter-container {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    [type="checkbox"] {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
