.spells-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.spell-card {
    position: relative;
    width: 14vw; 
    height: 35vh; 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.spell-overlay {
    background: rgba(0, 0, 0, 0.8); 
    color: white;
    padding: 10px;
    text-align: center;
    min-height: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spell-card h2 {
    font-size: 2rem;
    margin: 0;
}

.spell-card p {
    font-size: 1.3rem;
    margin: 5px 0 0;
    overflow: hidden; 
    text-overflow: ellipsis; /* Ein "..." wird am Ende angezeigt, falls der Text zu lang ist */
}
