h1 {
  text-align: center;
}

.books-container {
  border: blue solid;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 2;
  justify-content: space-around;
}
.books-container .single-book-container {
  border: solid rgb(255, 0, 0);
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.books-container .single-book-container:hover {
  transform: scale(1.1);
  transition: 1s;
}
.books-container .single-book-container .book-content {
  background-color: lightcoral;
  display: flex;
  flex-flow: column nowrap;
}
.books-container .single-book-container h3 {
  height: 70px;
  border: solid;
}
.books-container .single-book-container img {
  width: 150px;
  object-fit: contain;
  align-self: center;
}

.movies-container {
  border: blue solid;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.movies-container .single-movie-container {
  border: solid rgb(255, 0, 0);
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.movies-container .single-movie-container .movie-content {
  background-color: lightcoral;
  display: flex;
  flex-flow: column nowrap;
}
.movies-container .single-movie-container h3 {
  height: 70px;
  border: solid;
}
.movies-container .single-movie-container img {
  width: 150px;
  object-fit: contain;
  align-self: center;
}

.filter-container {
  border: solid black 5px;
}

.cards-container {
  border: solid black 5px;
}
.cards-container .students-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.cards-container .single-student-container {
  border: solid rgb(255, 0, 0);
  min-height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.cards-container .single-student-container img {
  width: 150px;
  aspect-ratio: 1/1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter-container {
  border: yellow solid;
}

.checkfilter-container {
  height: 150px;
}

.single-checkfilter-container {
  display: flex;
}

.textfilter-container {
  border: red solid;
}
