h1 {
  text-align: center;
}

.books-container {
  border: blue solid;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 2;
  justify-content: space-around;
}
.books-container .single-book-container {
  border: solid rgb(255, 0, 0);
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.books-container .single-book-container:hover {
  transform: scale(1.1);
  transition: 1s;
}
.books-container .single-book-container .book-content {
  background-color: lightcoral;
  display: flex;
  flex-flow: column nowrap;
}
.books-container .single-book-container h3 {
  height: 70px;
  border: solid;
}
.books-container .single-book-container img {
  width: 150px;
  object-fit: contain;
  align-self: center;
}

.movies-container {
  border: blue solid;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.movies-container .single-movie-container {
  border: solid rgb(255, 0, 0);
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.movies-container .single-movie-container .movie-content {
  background-color: lightcoral;
  display: flex;
  flex-flow: column nowrap;
}
.movies-container .single-movie-container h3 {
  height: 70px;
  border: solid;
}
.movies-container .single-movie-container img {
  width: 150px;
  object-fit: contain;
  align-self: center;
}

.filter-container {
  border: solid black 5px;
}

.cards-container {
  border: solid black 5px;
}
.cards-container .students-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.cards-container .single-student-container {
  border: solid rgb(255, 0, 0);
  min-height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.cards-container .single-student-container img {
  width: 150px;
  aspect-ratio: 1/1.4;
}

.footer-container {
  background-color: rgb(0, 0, 78);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
}
.footer-container a {
  text-decoration: none;
  color: white;
}
.footer-container a:active {
  color: white;
  color: rgb(0, 0, 78);
}
.footer-container .icon {
  color: gold;
  font-size: 1rem;
}

.footer-github,
.footer-links {
  width: 100%;
  line-height: 2rem;
  display: flex;
}

.footer-github {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-github:hover {
  color: gold;
}

.footer-links {
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-links a:hover {
  color: gold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  position: relative;
}

.filter-container {
  border: yellow solid;
}

.checkfilter-container {
  height: 150px;
}

.single-checkfilter-container {
  display: flex;
}

.textfilter-container {
  border: red solid;
}

.HPLogo {
  width: 220px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgb(0, 0, 78);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  z-index: 100;
}
.header .socialMedia-box {
  display: flex;
  gap: 2%;
}
.header .socialMedia-icons {
  font-size: 32px;
  color: #fff;
}
.header .socialMedia-icons:hover {
  color: #8a8a8a;
}
.headerNavbar{
  display: flex;
  justify-content: flex-end;
}
.header .navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .navbar ul li {
  position: relative;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
}
.header .navbar ul li::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease;
}
.header .navbar ul li:hover::before {
  width: 100%;
}
.header .navbar ul li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}
.header .navbar ul li a:hover {
  color: #8a8a8a;
}
.header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}
@media only screen and (max-width: 1024px) {
  .header .socialMedia-icons {
    font-size: 22px;
  }

  .HPLogo {
    width: 160px;
  }

  .header .nav-btn {
    visibility: visible;
    opacity: 1;
    font-size: xx-large;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgba(0, 0, 78, 0.95);
    transition: 1s;
    transform: translateY(-100vh);
  }
  .header nav ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .header .responsive_nav {
    transform: none;
  }
}/*# sourceMappingURL=main.css.map */